core.Microsoft*
core.mongo*
core.python*
codestar/env.py
__pycache__/
*.py[cod]
*.pyc
node_modules/
.github/
cloudinary_python.txt
.venv
db.sqlite3
*.sqlite3
blog/fixtures/*
!blog/fixtures/
!blog/fixtures/posts.json
!blog/fixtures/extra_posts.json